/* Fondo del loading */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #1f1b2e; /* Fondo oscuro */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Asegura que esté encima de todos los demás elementos */
    transition: opacity 0.5s ease-in-out;
    overflow: hidden; /* Evita scroll en la sección de carga */
    touch-action: none; /* Desactiva el scroll en dispositivos táctiles */
  }
  
  /* Clase para desactivar el scroll en la página */
  body.loading-active {
    overflow: hidden;
    height: 100vh;
    touch-action: none;
  }
  
  /* Contenedor del contenido del loading */
  .loading-content {
    text-align: center;
    color: #ffd700;
  }
  
  /* Imagen de carga */
  .loading-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Texto del loading */
  .loading-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    color: #7dcbea;
  }
  